<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
</head>
<body>

<div id="example"></div>

<script src="libs.bundle.js"></script>
<script src="main.js"></script>
</body>
</html>
